nav {
    background: rgba(0,0,0,0.9);
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    position: relative;
    z-index: 99;
}

.logo {
    font-weight: 600;
    font-size: 25px;
    color: tomato;
}

.logo font {
    color: #fff ;
}

.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 5px 10px;
    margin-left: 20px;
}
.manu-list li:last-child a {
    font-weight: 300;
    padding: 5px 10px;
    background-color:#01aacd ;
    transition:all 0.5s ease-in-out;
    margin-left: 20px;
    border-radius: 2px;
}

.menu-list a:hover,
.menu-list li a.active {

    background-color: #fff;
    border-radius: 2px;
    color: #000;
    transition: all 0.5s ease-in-out ;
}

@media screen and (max-width: 800px) {
    .logo{
        font-size: 20px;
    }
}


.menu-icon {
    color: aqua;
    background-color: brown;
}